# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Old files
old_results/*
old_notebooks/*

# Other analysis
**Ramon**
**ramon**
Wilson_Cowan*
Mask_creation*
*.so
